name: CI-CD Auto Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Repo checkout
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Docker Hub login (SECRETS USE HERE)
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3️⃣ Build Docker image
      - name: Build Docker image
        run: docker build -t a880/devops-cicd-backend:latest ./backend

      # 4️⃣ Push image to Docker Hub
      - name: Push Docker image
        run: docker push a880/devops-cicd-backend:latest

      # 5️⃣ Deploy on EC2 (SSH)
      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull a880/devops-cicd-backend:latest
            docker stop django-app || true
            docker rm django-app || true
            docker run -d -p 80:8000 --name django-app a880/devops-cicd-backend:latest
